@use 'bootstrap';
@use 'header';

//Global
html * {
  -webkit-font-smoothing: antialiased;
}

body {
    overflow: hidden;
}

.cs-shape {
  &.bg-secondary {
    color: #f7f7fc;
    background-color: transparent !important;
  }
}
