@use 'bootstrap';
@use 'header';

//Global
html * {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: rgba(118, 109, 244, 0.22);
}

body {
  overflow-x: hidden;
}

.cs-shape {
  &.bg-secondary {
    color: #f7f7fc;
    background-color: transparent !important;
  }
}

.accordion .card {
  cursor: pointer;
}

.indicator {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-shape {
  background-image: url("../../public/bg-shape.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.faq-toggle {
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(118, 109, 244, 0.35);
  border-radius: 1rem;
  box-shadow: 0.1875rem 0.1875rem 0.625rem -0.125rem rgba(0, 0, 0, 0.09);

  &.collapsed {
    // border: 1px solid transparent;
    .title {
      color: inherit;
      &:hover {
        color: #766df4;
      }
    }
  }

  .title {
    margin-bottom: 0;
    color: #766df4;
    text-decoration: none;
    display: block;
    padding: 1.09375rem 1.5rem;
  }
  .description {
    font-size: 15px;
    padding: 1.5rem;
    padding-top: 0;
    margin-bottom: 0;
  }
  .indicator {
    top: 21px;
    right: 21px;
  }
}
.reviews {
  .card {
    background-color: white;
    border: 1px solid rgba(118, 109, 244, 0.35);
    box-shadow: 0.1875rem 0.1875rem 0.625rem -0.125rem rgba(0, 0, 0, 0.09);

    .card-body {
      .blockquote {
        svg {
          font-size: 3rem;
          display: block;
          margin: 15px 0;
          color: rgba(118, 109, 244, 0.5);
        }
      }
    }
  }
  .carousel-control-prev{
    left: auto;
    right: 40px;
    align-items: flex-start;
  }
  .carousel-control-next{
    align-items: flex-start;
  }
}
