@use 'bootstrap';
@use 'header';

//Global
html * {
  -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
}

.cs-shape {
  &.bg-secondary {
    color: #f7f7fc;
    background-color: transparent !important;
  }
}

.accordion .card{
  cursor: pointer;
}

.indicator{
  position: absolute;
  top: 0;
  right: 0;
}

.bg-shape{
  background-image: url("../../public/bg-shape.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
